<h1>Dashboard</h1>
{{#if hasErrors}}
    <div class="alert alert-danger">
        {{#each messages}}
            <p>{{ this}}</p>
        {{/each}}
    </div> 
{{/if}}
<a href="/challenge/create-challenge">Create Challenge</a><br>
{{#each challenges}}
    <a href="/challenge/{{this.id}}">{{this.name}}<a/><br>
    <p>{{this.description}}</p>
    <a href="/challenge/delete-challenge/{{this.id}}">Delete Challenge</a>
    <a href="/challenge/remove-from-challenge/{{../userId}}/{{this.id}}">Quit Challenge</a>
{{/each}}

