<h1>Dashboard</h1>
{{#if hasErrors}}
    <div class="alert alert-danger">
        {{# each messages }}
            <p>{{this}}</p>
        {{/each}}
    </div> 
{{/if}}
<a href="/challenge/create-challenge">Create Challenge</a>
{{#each challenges}}
<h3>
    {{this.name}}
</h3>
<p>{{this.description}}</p>
<a href="/challenge/delete-challenge/{{this.id}}">Delete Challenge</a>
<a href="/challenge/remove-from-challenge/{{this.id}}">Quit Challenge</a>
{{/each}}

