<div class="container">
    <div class="row">
        <h1 class="spaced-title">{{challengeName}}</h1>
        <h3>Challenge Participants</h3>
        <a href="/challenge/{{challengeId}}">Back To Challenge</a>
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tr id="challenge-detail-table-header">
                    <th>Participant Username</th>
                    <th>Role</th>
                </tr>
                {{#each participants}}
                    <tr>
                        <td><a href="/user/profile/{{participantID}}">{{participantUsername}}</a></td>
                        <td>{{participantRole}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>