<div class="container">
    {{#if hasErrors}}
        <div class="alert alert-danger">
            {{#each messages }}
                <p>{{ this }}</p>
            {{/each}}
        </div> 
    {{/if}}
        <div class="row">
        <div class="col-md-5 col-md-offset-1">
            {{#with challenge}}
                <h1>{{name}}</h1>
                <hr class="header-underline">
                <div id="challenge-detail-links">
                    <a href="/challenge/remove-from-challenge/{{../userId}}/{{id}}">leave challenge</a>
                    <a href="/challenge/join-challenge/{{id}}">Join Challenge</a>
                </div>
                <div id="add-progress-container">
                    <button class="btn btn-primary" id="add-progress-button">Add Progress</button>
                    <form id="add-progress-form" action="/challenge/add-progress" method="post">
                        <div class="form-group">
                            <label for="amount"></label>
                            <input type="number" id="amount" name="amount" class="form-control" min="0">
                        </div>
                        <input type="hidden" name="challengeId" value="{{id}}">
                        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                        <button type="submit" class="btn btn-primary">Submit Progress</button>
                    </form>
                </div>
                <div id="challenge-detail-block">
                    <h3>Challenge Details</h3>
                    <hr class="header-underline">
                    <p>{{description}}</p>
                    <p>{{startDate}}</p>
                    <p>{{endDate}}</p>
                    <p>{{goalType}}</p>
                    <p>{{goalAmount}}</p>
                </div>
                {{!-- <h2>Participants</h2>
                {{#each participants}}
                    {{#if participantUsername}}
                        <a href="#">{{participantUsername}}</a>
                    {{/if}}
                    <p>{{participantRole}}</p>
                    <br>
                {{/each}}
                {{#each progress}}
                    {{progressParticipantName}}
                    {{progressAmounts}}<br>
                {{/each}} --}}
            {{/with}}
            <h3>Top 5</h3>
            <table class="table table-condensed">
                <tr id="challenge-detail-table-header">
                    <th>Rank</th>
                    <th>Participant</th>
                    <th>Progress</th>
                    <th>Progress Remaining</th>
                </tr>
                {{#each rankings}}
                <tr>
                    <td>{{rank}}</td>
                    <td>{{progressParticipantName}}</td>
                    <td>{{progressAmounts}}</td>
                    <td>{{progressRemaining}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div class="col-md-5">
            <h3>Your Progress</h3>
            <table class="table table-condensed">
                <tr id="challenge-detail-table-header">
                    <th>Date</th>
                    <th>Participant</th>
                    <th>Progress</th>
                    <th>Remove</th>
                </tr>
                {{#each progress}}
                <tr>
                    <td>{{progressDate}}</td>
                    <td>{{progressParticipantName}}</td>
                    <td>{{progressAmounts}}</td>
                    <td><a class="x-remove-link" href="/challenge/remove-progress/{{../challenge.id}}/{{this.id}}">&#10006</a></td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div id="chart"></div>
    </div>  
</div>
<!--
scripts to use if charts are needed
<script src="/scripts/frappe-charts.min.iife.js"></script>
<script src="/scripts/progress-chart.js"></script>
-->
<!-- scripts for button, dropdown, and generic page controls -->
<script src="/scripts/challenge-detail-pagecontrols.js"></script>
