<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="spaced-title">Edit Challenge</h1>
            {{#if hasErrors}}
                <div class="alert alert-danger">
                    {{#each messages }}
                        <p>{{ this }}</p>
                    {{/each}}
                </div> 
            {{/if}}
            {{#with challenge}}
            <form action="/challenge/{{id}}/submit-edits" method="post">
                    <div class="form-group">
                        <label for="name">Challenge Name</label>
                        <input type="text" id="name" name="name" class="form-control" value="{{name}}"> 
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description" class="form-control" value="{{description}}">
                    </div>
                    <div class="form-group">
                        <label for="goalType">Goal Type</label>
                        <select id="goalType" name="goalType" class="form-control" selected=goalType> 
                            <option value="firstToGoal">First To The Goal</option>
                            <option value="getToGoal">Any To The Goal</option>
                            <option value="everyDay">Every Day Until...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="goalAmount">Goal Amount</label>
                        <input type="number" id="goalAmount" name="goalAmount" class="form-control" min="0" value="{{goalAmount}}"> 
                    </div>
                    <div class="form-group">
                        <label for="categories">Category</label>
                        <input type="text" id="categories" name="categories" class="form-control" value="{{categories}}"> 
                    </div>
                        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                        <button type="submit" class="btn btn-primary">Submit Changes</button>
            </form>
            {{/with}}
        </div>
    </div>
</div>